<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>xh_rvp10</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>DisabledAML</key>
		<array>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-PluginType1.aml</string>
		</array>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change H_EC to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change ECDV to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TUVJXw==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change MEI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixIPIC</key>
				<false/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>NeverHibernate</key>
		<true/>
		<key>NeverDoRecovery</key>
		<false/>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 debug=0x100 keepsyms=1 igfxonln=1 -v alcid=13</string>
		<key>CustomLogo</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>StrictHibernate</key>
		<false/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>Debug</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>#KbdPrevLang</key>
		<false/>
		<key>KbdPrevLang</key>
		<false/>
		<key>#Language</key>
		<string>ru:0</string>
		<key>#Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>#CustomIcons</key>
		<false/>
		<key>#Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>ProvideConsoleGop</key>
		<true/>
		<key>ShowOptimus</key>
		<false/>
		<key>Theme</key>
		<string>Olarila</string>
		<key>#Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Speed</key>
			<integer>2</integer>
			<key>Mirror</key>
			<false/>
		</dict>
		<key>#ConsoleMode</key>
		<string>0</string>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>#Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Image</key>
					<string>os_mageia</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Hidden</key>
					<false/>
					<key>Title</key>
					<string>Mageia Linux</string>
					<key>Disabled</key>
					<false/>
					<key>Path</key>
					<string>\EFI\MAGEIA\GRUBX64.efi</string>
				</dict>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>M</string>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
					<key>Arguments</key>
					<string>Kernel=mach_kernel</string>
					<key>Disabled</key>
					<true/>
					<key>AddArguments</key>
					<string>-v</string>
					<key>Path</key>
					<string>\EFI\BOOT\BOOTX64.efi</string>
					<key>Title</key>
					<string>MyCustomEntry</string>
					<key>NoCaches</key>
					<false/>
					<key>InjectKexts</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Volume</key>
					<string>454794AC-760D-46E8-8F77-D6EB23D2FD32</string>
					<key>Type</key>
					<string>OSX</string>
					<key>SubEntries</key>
					<array>
						<dict>
							<key>AddArguments</key>
							<string>-v</string>
							<key>Title</key>
							<string>Boot OS X 10.8.5 (12F36) Mountain Lion in Verbose Mode</string>
						</dict>
					</array>
					<key>Title</key>
					<string>OS X 10.8.5 (12F36) Mountain Lion</string>
					<key>NoCaches</key>
					<false/>
					<key>InjectKexts</key>
					<false/>
				</dict>
			</array>
			<key>Legacy</key>
			<array>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>Type</key>
					<string>Windows</string>
					<key>Hidden</key>
					<false/>
					<key>Title</key>
					<string>MyLegacyEntry</string>
					<key>Hotkey</key>
					<string>L</string>
					<key>Volume</key>
					<string>89433CD3-21F2-4D3C-95FC-722C48066D3A</string>
				</dict>
			</array>
			<key>Tool</key>
			<array>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>S</string>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
					<key>Arguments</key>
					<string>-b</string>
					<key>Disabled</key>
					<false/>
					<key>Path</key>
					<string>\EFI\CLOVER\TOOLS\Shell64-v1.efi</string>
					<key>Title</key>
					<string>MyCustomShell</string>
				</dict>
			</array>
		</dict>
		<key>PlayAsync</key>
		<false/>
		<key>#TextOnly</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>#DefaultBackgroundColor</key>
		<string>0xF0F0F0</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>133330</integer>
		<key>#HWPEnable</key>
		<true/>
		<key>#TDP</key>
		<integer>95</integer>
		<key>#SavingMode</key>
		<integer>7</integer>
		<key>#TurboDisable</key>
		<true/>
		<key>#HWPValue</key>
		<string>0x30002a01</string>
		<key>#FrequencyMHz</key>
		<integer>3140</integer>
		<key>#Type</key>
		<string>0x0201</string>
		<key>#QPI</key>
		<integer>4800</integer>
		<key>#UseARTFrequency</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x59168086</string>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>## @2 HDMI</key>
				<string></string>
				<key>#framebuffer-con1-flags</key>
				<data>hwEAAA==</data>
				<key>#2 framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>## @0 LVDS-&gt;DP</key>
				<string></string>
				<key># DVMT-prealloc</key>
				<string>32MB BIOS, 19MB framebuffer, 9MB cursor bytes (credit RehabMan)</string>
				<key>#framebuffer-con3-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>## @3 HDMI</key>
				<string></string>
				<key>#3 framebuffer-con1-alldata</key>
				<data>/wAAAAEAAAAgAAAA/wAAAAEAAAAgAAAA</data>
				<key># Note1</key>
				<string> no HDMI example in CoffeeLake, flags 86090000 seen in CannonLake?</string>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>#framebuffer-con3-flags</key>
				<data>hwEAAA==</data>
				<key>#3 no external</key>
				<string>0x3e9b0000, eliminate all external ports (0105 and 0204)</string>
				<key>#framebuffer-con2-pipe</key>
				<data>EgAAAA==</data>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>#framebuffer-con3-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-con0-enable</key>
				<integer>1</integer>
				<key>#2 framebuffer-con2-alldata</key>
				<data>AwYIAAAEAADHAwAA</data>
				<key>## @1 HDMI</key>
				<string></string>
				<key>#framebuffer-con2-flags</key>
				<data>hwEAAA==</data>
				<key>#AAPL00,override-no-edid</key>
				<data></data>
				<key>#framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con0-type</key>
				<data>AAQAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>#2 0204-&gt;0306</key>
				<string>0x3e9b0000, 0306 instead of 0204, HDMI</string>
				<key>#3 framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con3-enable</key>
				<integer>1</integer>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>#framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AAAWWQ==</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1f,3)</key>
			<dict>
				<key>#no-controller-patch</key>
				<integer>1</integer>
				<key>layout-id</key>
				<integer>16</integer>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>#PinConfigurations</key>
				<data></data>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<integer>13</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>#EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>#ig-platform-id</key>
		<string>0x3e9b0000</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.13.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string> </string>
		<key>ROM</key>
		<data>Vcw14ATT</data>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>Board-ID</key>
		<string>Mac-B4831CEBD52A0C4C</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP141.88Z.F000.B00.1812191142</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02706306CDHWVPA8</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro14,1</string>
		<key>SmUUID</key>
		<string>E20C4854-DAFB-4B60-A8A3-23C841E004D3</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>186.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C02T73Y3HV29</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>12/19/2018</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#NvidiaWeb</key>
		<false/>
		<key>#BacklightLevel</key>
		<string>0x0501</string>
		<key>InjectSystemID</key>
		<true/>
		<key>#CustomUUID</key>
		<string>511CE201-1000-4000-9999-010203040506</string>
		<key>#NoCaches</key>
		<false/>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableRtcChecksum</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>XhciPortLimit</key>
		<true/>
	</dict>
</dict>
</plist>